* {
    font-family: 'Source Code Pro', sans-serif;
}

.primary-color, a {
    color: #0054a3;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100px;
}

h4 {
    color: #0054a3;
}

.starter-code {
    background-color: #0054a3;
    margin: 20px 0;
}

.starter-code a {
    display: block;
    padding: 10px;
    color: white;
}