@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: 'Source Code Pro', sans-serif;
}

body {
  font-size: 14px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.logo {
  width: 100px;
}